<div id="main">
  <form action="/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <p><input type="file" value="Browse &rarr;" name="fileData"></p>
    <p><input type="submit" value="Upload"></p>
    <p><input type="reset" value="Reset"></p>
  </form>
  <br/>
  <br/>
  <br/>

  <% if @upload_response %>
    <%= @upload_response.inspect %>
  <% end %>
  <br/>
  <br/>
  <br/>



  <% if session[:request_token] %>
    Request token: <%= session[:request_token].inspect %><br/>
    Request secret: <%= session[:request_token_secret].inspect %><br/>
    Oauth verifier: <%= session[:oauth_verifier].inspect %><br/>
  <% else %>
    <a href="/request-token">Request Access</a>
  <% end %>

</div>
