<div id="main">

  <div id="upload-box">

		<div>
			<p id="upload-status-text">
				Drag and Drop images...
			</p>
			<p id="upload-details">
				Uploads are resized and mirrored for you automatically.
			</p>
		</div>
		<div id="upload-status-progressbar"></div>
	</div>

  <noscript>
		<form id="noscript-upload" action="/upload" enctype="multipart/form-data" method="post">
			(*JS Disabled) Manual Upload&nbsp;&nbsp;
			<input id="files" name="files" type="file" multiple onchange="document.getElementById('uploadform').submit();" />
		</form>
	</noscript>

  <div id="upload-thumbnail-list">

		<div id="upload-header">
			<span id="upload-title">Uploads</span>
			<img id="upload-animation" src="/img/loading.gif" />
			<span id="upload-count"></span>
		</div>
	</div>
	
	<form action="/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="xhr">
    <!-- <p><input type="file" value="Browse &rarr;" name="fileData"></p> -->
    <p><input type="file" value="Multi-browse &rarr;" name="multi[]" multiple></p>
    <p><input type="submit" value="Upload"></p>
    <p><input type="reset" value="Reset"></p>
  </form>
</div>
